name: Docker Image CI

on:
  push:
    branches: [ "develop", "master" ]
  pull_request:
    branches: [ "develop", "master" ]

jobs:
  export_env:
    name: Export_env
    runs-on: ubuntu-latest
    steps:
      - name: Connect with SSH and export
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: 178.21.8.3
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            rm .env
            export POSTGRES_DB=${{ secrets.POSTGRES_DB }}  
            export POSTGRES_USER=${{ secrets.POSTGRES_USER }} 
            export POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} 
            export REFRESH_TOKEN=${{ secrets.REFRESH_TOKEN }} 
            export ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }} 
            export MINIO_ACCESS=${{ secrets.MINIO_ACCESS }} 
            export MINIO_SECRET=${{ secrets.MINIO_SECRET }} 
            export MINIO_URL=${{ secrets.MINIO_URL }} 
            export MAIL_USERNAME=${{ secrets.MAIL_USERNAME }} 
            export MAIL_PORT=${{ secrets.MAIL_PORT }} 
            export MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD }} 
            
            echo MAIL_USERNAME=${{ secrets.MAIL_USERNAME }} >> .env 
            echo MAIL_PORT=${{ secrets.MAIL_PORT }} >> .env 
            echo MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD }} >> .env 
            echo POSTGRES_DB=${{ secrets.POSTGRES_DB }} >> .env 
            echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> .env 
            echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env 
            echo ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }} >> .env 
            echo REFRESH_TOKEN=${{ secrets.REFRESH_TOKEN }} >> .env 
            echo MINIO_ACCESS=${{ secrets.MINIO_ACCESS }} >> .env 
            echo MINIO_SECRET=${{ secrets.MINIO_SECRET }} >> .env 
            echo MINIO_URL=${{ secrets.MINIO_URL }} >> .env 
            export $(cat .env | xargs) && env 

  push_compose:
    name: Push docker-compose.yaml to remote server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Copy docker-compose.yaml via SSH
        uses: appleboy/scp-action@master
        with:
          host: 178.21.8.3
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: 22
          source: "docker-compose.yaml"
          target: "/home/${{ secrets.SSH_USER }}"
          overwrite: true
  
  build_image:
    runs-on: ubuntu-latest
    name: Build app image
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: sladkkov/case-lab-java-crm:latest

  deploy:
    name: Deploy
    needs: [ push_compose, build_image, export_env ]
    runs-on: ubuntu-latest
    steps:
      - name: Connect with SSH and Deploy
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: 178.21.8.3
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            docker container stop $(docker container ls -q) 
            docker rm $(docker ps -a -q) 
            docker rmi $(docker images -q)
            docker compose up -d
            
      - name: Run Integration Tests
        run: |
          mvn test
