name: Test coverage

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'master'
      - 'develop'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Maven Verify
        run: mvn -B -Dmaven.test.skip clean verify
      - name: Test Coverage
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Run Integration Tests
          run: mvn test
      - name: Generate Code Coverage
          # Этот блок оставляем пока пустым, пока не придумаем инструмент для измерения покрытия кода
          run: |
    

